{% load static %}


{%  include 'address_form.html' %}


{#GIVER OF EPIC STATUE #}
<div class="row my-3 justify-content-center">
    <div class="col-auto text-center">
        <img class="mt-2" src="{% static 'img/giverofepic_statue.png' %}" alt='STATUE'>
    </div>
</div>


{# FOOTER #}
<div class="card-footer text-center mt-5">
   <div class="row">
       <div class="col-12">
           <div class="small text-muted mt-0">
               <img src="{% static 'img/epicenter-logo-h500.png' %}" alt="epic-logo" height="20">

               <a class="mx-1" href="https://blacktyg3r.com" target="_blank">
                    Created by <b>BT-LABS</b><sup><small>TM</small></sup>
               </a>
               | <a class="mx-1" href="https://epic.tech" target="_blank">epic.tech</a>
            </div>
       </div>
   </div>
</div>

