/giverofepic/faucet/migrations/
/giverofepic/faucet/__pycache__/

/giverofepic/giveaway/migrations/
/giverofepic/giveaway/__pycache__/

/giverofepic/giverofepic/__pycache__/
/giverofepic/giverofepic/secrets.py

/giverofepic/integrations/migrations/
/giverofepic/integrations/__pycache__/

/giverofepic/wallet/migrations/
/giverofepic/wallet/__pycache__/
/giverofepic/wallet/epic-sdk/

giverofepic/website/migrations/
giverofepic/website/__pycache__/
/tests.py
/build/
/setup.py
/Pipfile.lock
.idea/
giverofepic/db.sqlite3
*.sqlite3
/__pycache__
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
/dev_notes.md