/tests.py
/giverofepic/giverofepic/__pycache__/
/giverofepic/wallet/__pycache__/
giverofepic/wallet/migrations/__pycache__/
/build/
/setup.py
/Pipfile.lock
.idea/
giverofepic/db.sqlite3
*.sqlite3
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/