{% load static %} {% load humanize %} {% load qr_code %}

<section class="claim-notification mb-4">
    <div class="row">
        <div class="col-12">
            {%  if link.claimed %}

                <div class="card bg-warning text-white text-center">
                    <div class="card-header" style="font-size: 1.3rem;">
                        <span class="material-icons align-middle me-1" style="font-size: 1.8rem;">
                            check_circle
                        </span>
                        REWARD CLAIMED
                    </div>
                </div>

            {%  elif link.expires < now %}

                <div class="card bg-danger text-white text-center">
                    <div class="card-header" style="font-size: 1.3rem;">
                        <span class="material-icons align-middle me-1" style="font-size: 1.8rem;">
                            cancel
                        </span>
                        LINK EXPIRED
                    </div>
                </div>

            {%  else %}

                <div class="card bg-success text-white text-center">
                    <div class="card-header" style="font-size: 1.3rem;">
                        <span class="material-icons align-middle me-1" style="font-size: 1.8rem;">
                            check_circle
                        </span>
                        LINK IS VALID
                    </div>
                </div>

            {%  endif %}
        </div>
    </div>
</section>

<section class="claim-details mb-4">
    <div class="row">
        <div class="col-12">
            <div class="card bg-dark text-white">

                {# EVENT LOGO AS IMAGE IF EXISTS #}
                {%  if link.event == 'equinox' %}
                    <img class="card-img" src="{% static 'img/equinox.png' %}" alt="event-logo">
                {% else %}
                    <div class="card-header fs-5">
                        <span class="material-icons align-middle text-info"
                        style="font-size: 1.8rem;">info</span>
                        CLAIM DETAILS:
                    </div>
                {% endif %}

                <div class="card-body">
                    <div class="row align-items-center justify-content-around">
                        <div class="col-12">
                            <table>
                                <tr>
                                    <td>Event:</td>
                                    <td></td>
                                    <td>{{ link.event.capitalize }}</td>
                                </tr>
                                <tr>
                                    <td>Reward:</td>
                                    <td></td>
                                    <td>{{ link.amount }} EPIC</td>
                                </tr>

                                {% if not link.claim_date %}
                                    <tr>
                                        <td>Valid For:</td>
                                        <td style="width: 10px"></td>
                                        <td>{{ link.expires|naturaltime }}</td>
                                    </tr>
                                    {% if link.reusable > 0 %}
                                        <tr>
                                            <td></td>
                                            <td style="width: 10px"></td>
                                            <td>{{ link.reusable }} claims left</td>
                                        </tr>
                                    {%  endif %}

                                {%  else %}
                                    <tr>
                                        <td>Claimed:</td>
                                        <td style="width: 10px"></td>
                                        <td>{{ link.claim_date|naturaltime }}</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td style="width: 10px"></td>
                                        <td class="text-break">{{ link.address }}</td>
                                    </tr>
                                {%  endif %}
                            </table>
                        </div>
{#                        <div class="col-6 text-center">#}
{#                            {% qr_from_text link.ready_link image_format='png' size="4" %}#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{# IF LINK IS VALID SHOW ADDRESS INPUT #}
{% if not link.claimed and link.expires > now %}

     {# INFO #}
    <div class="col-12 px-2 text-white mb-2">
        <p class="fs-4">
            <span class="material-icons align-middle text-warning"
              style="font-size: 2.2rem;">stars</span>
            How to claim your reward

        </p>

        <ul>
            <li> Get the latest version of the
                <a href="https://play.google.com/store/apps/details?id=com.cypherstack.epicpay&hl=en&gl=US" target="_blank">
                    <img class="rounded" src="{% static 'img/photo_2022-12-27_16-46-56.jpg' %}" alt='.' height="25px">
                    <b>Epic-Pay</b>
                </a> wallet.
            </li>
            <li>
                Open it and make sure it is Connected & Fully Synchronized
                <a href="#" data-bs-toggle="tooltip"
                    data-bs-title='Wallet connection status is displayed at the top of the Epic Pay app.'>
                    <b><sup><i class="fa-solid fa-circle-info text-light"></i></sup></b>.
                </a>
            </li>
            <li>
                Use wallet address from the "Receive" tab.
            </li>
            <li>
                After tapping "CLAIM" button, keep the wallet open.
            </li>
            <li>
                Wait for transaction to finalize.
            </li>
        </ul>

        For any issues, please close then re-open the Epic Pay app.
    </div>

    <hr class="m-0 mt-3 me-2 text-secondary"/>

    <section class="address-form">
        <div class="row">
            <div class="col-12">
                {%  include 'address_form.html' %}
            </div>
        </div>
    </section>

{# ELSE SHOW GIVER OF EPIC STATUE #}
{%  else %}

    <div class="row my-3 justify-content-center">
        <div class="col-auto text-center">
            <img class="mt-2" src="{% static 'img/giverofepic_statue.png' %}" alt='STATUE' height="300px">
        </div>
    </div>

{%  endif %}


{#<script src="{%  static '/scripts/scripts.js' %}"></script>#}
{#<script src="{%  static '/scripts/input_listeners.js' %}"></script>#}