{% load static %}

<div class="row mt-2 justify-content-center">
    <div class="col-11">

        {# INFO #}
        <div class="row justify-content-between">
            <div class="col-12 text-start text-secondary ms-2">
                <span class="fs-1">
                    <span class="material-icons align-middle"
                          style="font-size: 2.5rem;">
                        public_off
                    </span>
                    FAUCET IS OFFLINE
                </span>
                <hr class="m-0 mt-1 me-2 mb-2"/>
                <p class="text-white ms-3">
                    Hey, <b>Giverofepic.com</b> will be back ASAP, until then please join our
                    <b><a target="_blank" href="https://t.me/EpicCash">Telegram Community</a></b>
                    and create your <b><a target="_blank" href="https://t.me/EpicTipBot">@EpicTipBot</a></b> account
                    to start receiving EPIC today!
                </p>
                <br /><br />
                <span class="fs-1">
                    <span class="material-icons align-middle"
                          style="font-size: 2.5rem;">
                        add_to_home_screen
                    </span>
                    MOBILE WALLETS
                </span>
                <hr class="m-0 mt-1 me-2 mb-2"/>
            </div>
        </div>

        {# MOBILE WALLETS #}
        <div class="row align-items-center justify-content-between">
            <div class="col-7">
                <p class="fs-4">
                    <a class="" target="_blank" href="https://play.google.com/store/apps/details?id=com.cypherstack.epicpay">
                        <img class="mx-2 rounded" src="{% static 'img/photo_2022-12-27_16-46-56.jpg' %}" alt='.' height="35px">
                        <b>Epic-Pay</b>
                    </a>
                </p>

                <p class="fs-4">
                    <a class="" target="_blank" href="https://stackwallet.com/">
                        <img class="mx-2 rounded" src="{% static 'img/stack-wallet-icon.png' %}" alt='.' height="35px">
                        <b>Stack-Wallet</b>
                    </a>
                </p>

                <p class="fs-4">
                    <a class="" target="_blank" href="https://play.google.com/store/apps/details?id=net.vite.wallet">
                        <img class="mx-2 rounded" src="https://play-lh.googleusercontent.com/_24vD4f63z9Ql9Vpp8ANbEYEya6Xzglj3T8f36ywdlKPwmb7BhJ3XdhwR4GexN2W4yI=w240-h480-rw" alt='.' height="35px">
                        <b>Vite Wallet</b>
                    </a>
                </p>
            </div>

            {#GIVER OF EPIC STATUE #}
            <div class="col-5">
                <div class="row my-3 justify-content-center">
                    <div class="text-center">
                        <img class="mt-2" src="{% static 'img/giverofepic_statue.png' %}" alt='STATUE' height="200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

